# Entorno virtual
.venv/
venv/

# Variables y secretos
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Editores
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db